.header {
    background-color: #3f3f3f;
    border-radius: 0 0 1rem 1rem;
}

.header__nav_name {
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav_menu {
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}