.portfolio__skills_content {
    max-width: 45%;
}

@media (max-width: 850px) {
    .portfolio__skills_content {
        max-width: 100%;
    }
}

.portfolio__subheader {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.portfolio__skills_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}