.main {
    min-height: 100vh;
    padding: 7rem 0;
}

.main h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #1f1f1f;
    margin-bottom: 1.25rem;
}

.main > section:not(:last-child) {
    margin-bottom: 7.5rem;
}

.main__about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.main__about-photo {
    max-width: 45%;
    min-width: 400px;
    border-radius: 0.5rem;
}

.main__about-text {
    width: 48%;
}

.main__about-text > p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.main__about-text > p:nth-child(2) {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.main__about-text > p:nth-child(3) {
    font-size: 1.25rem;
}